/*======================
-----   Base styles
========================*/

html, body
{
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #333333;
    margin: 0;
}

.full-height
{
    height: 100vh;
}
.flex-center
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref
{
    position: relative;
}

.top-right
{
    position: absolute;
    right: 10px;
    top: 18px;
}

.content
{
    text-align: center;
}

.title
{
    font-size: 84px;
}

a
{
    color: #b366ff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus
{
    text-decoration: none;
    color: #176e61;
}

.m-b-md
{
    margin-bottom: 30px;
}

.fa-btn
{
    margin-right: 6px;
}

.panel-heading
{
    background-color: #d9d9d9;
    font-weight: 700;
}

.panel-body
{
    background-color: #737373;
}

/*=======================
------  About
 ========================*/

.jenn-list
{
    list-style: none;
}

/*=======================
------  Skills
 ========================*/

.skill-img
{
    width: 200px;
    padding: 10px;
}

.skill-panel
{
    background-color: white;
}


/*=======================
------  Resumé
 ========================*/

.pdfobject-container
{
    height: 1000px;
}

.pdfobject-container
{
    border: 1px solid #666;
}

.portfolio-desc p
{
    font-size: large;
    margin-top: 15px;
}

/*==============================================
---------   Work Examples
 ===============================================*/

.portfolio-img
{
    width: 200px;
    margin: 10px;
}

.desc-em
{
    font-weight: 700;
    color: #e68a00;
}

.desc-title
{
    color: #cc6600;
}

.infoVideo
{
    margin: auto;
    align-content: center;
}

.infoVideo iframe
{
    display: block;
    margin: 0 auto;
    align-self: center;
    float: inherit;
}

.writtenInfo
{
    margin: auto;
    text-align: center;
}

.nscc-app-img
{
    width: 100%;
}


/*===========================
----------  Utility
=============================*/

.FIXME
{
    color: black;
    background-color: red;
    font-weight: 700;
}